.hint {
	padding: 5px 20px;
	background-color: rgba($black,0.3);
	border-radius: 99px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.tooltip {
	position: relative;
	display: inline-block;
	transition: 0.25s;
	cursor: pointer;
	&:before,
	&:after {
		position: absolute;
		color: $white;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		transform: translateX(-50%);
		transition: 0.25s ease-in-out;
		opacity: 0;
		visibility: hidden;
	}
	&:before {
		content: attr(data-tooltip);
		padding: 10px;
		background-color: rgba($black,0.9);
		border-radius: 5px;
		font-size: 14px;
		text-align: center;
		text-transform: none;
		white-space: nowrap;
	}
	&:after {
		content: '';
		width: 0;
		height: 0;
	}
	&-top {
		&:before {
			bottom: 100%;
			left: 50%;
			margin: 0;
		}
		&:after {
			bottom: 23px;
			left: 50%;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid rgba($black,0.9);
			transform: translateX(-50%);
		}
		&:hover {
			&:before {
				bottom: 150%;
			}
			&:after {
				bottom: 37px;
			}
		}
	}
	&-left {
		&:before {
			left: 0;
		}
		&:after {
			left: 43px;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid rgba($black,0.9);
		}
		&:hover {
			&:before {
				left: -125%;
			}
			&:after {
				left: -20px;
			}
		}
	}
	&-right {
		&:before {
			left: 100%;
		}
		&:after {
			right: 51px;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-right: 5px solid rgba($black,0.9);
		}
		&:hover {
			&:before {
				left: 236%;
			}
			&:after {
				right: -17px;
			}
		}
	}
	&:hover {
		background-color: rgba($black,0.9);
		&:before,
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}