@import './settings';
@import './partials/annoying-modal';
@import './partials/button';
@import './partials/tooltip';

* {
	box-sizing: border-box;
	outline: none;
	&:before,
	&:after {
		box-sizing: border-box;
		outline: none;
	}
}

html {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	font-smooth: auto;
	font-weight: 300;
	line-height: 1.5;
	color: #444;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	border: 20px solid white;
	animation: Gradient 15s ease-in-out infinite;
	overflow: hidden;
	z-index: 0;
	&:before {
		position: absolute;
		content: '';
		bottom: -20px;
		left: 0;
		width: 100%;
		height: 20px;
		background-color: white;
		z-index: 99;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1 {
	margin: 0 0 15px;
	color: #46627f;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	pointer-events: none;
}
h2 {
	color: white;
	font-weight: 300;
}
h4 {
	margin: 0 0 10px;
	font-size: 18px;
	font-weight: bold;
}

p {
	margin: 0 0 20px;
	font-size: 15px;
	line-height: 1.5;
}

a {
	text-decoration: none;
	transition: 0.25s;
}

.intro {
	text-align: center;
}

.external-link {
	position: absolute;
	top: 30px;
	right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	padding: 0;
	background-color: rgba($black,0.1);
	border-radius: 50%;
	color: $white;
	&:hover {
		background-color: rgba($black,0.8);
		i {
			transform: rotate(360deg);
		}
	}
	i {
		transition: 0.5s;
	}
}

.hipster {
	position: absolute;
	bottom: -13%;
	right: 20%;
	width: 100px;
	height: 120px;
	background-image: url('http://mentalsociety.com/images/hipster.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: 0.5s ease-in-out;
	z-index: -1;
	&.show {
		bottom: -7.5%;
	}
}